header {
  background-color: #25343F;
  color: #BFC9D1;
  padding: 10px 0;
}

* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

*:link {
  color: #FF9B51;
}

*:visited {
  color: #FF9B51;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #fff;
}

li {
  margin: 0 20px;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

footer {
  max-width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #25343F;
  color: #FF9B51;
}